@font-face {
  font-family: seedbd;
  src: url('./seedbd.otf');
}

@font-face {
  font-family: seedrg;
  src: url('./seedrg.otf');
}

body {
  margin: 0;
  background: #ffffff;
  font-family: seedrg;
}

.App {
  max-width: 450px;
  background: #f7f7f7;
  height: 100vh;
  margin: 0 auto;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  border-radius: 16px;
  background: #fff;
}

.city p {
  margin: 0;
  font-family: seedrg;
}

.citySel {
  position: absolute;
  top: 90%;
  left: 12px;
  right: 0;
  background: #fff;
  border: none;
  border-radius: 16px;
  margin-top: 4px;
  z-index: 10;
  box-shadow: 0 0 50px #00000025;
  overflow: hidden; /* чтобы закругление смотрелось правильно */
}

.types {
  display: flex;
  overflow-x: auto;
  padding: 8px 12px;
}

.type {
  background: #fff;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 0 6px;

  display: flex;
  justify-content: center;
}

.type img,
.pin {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.type p {
  margin: 0;
}

.active {
  background: #ff4000;
}

.active p {
  color: #fff;
}